@import 'tailwindcss';

:root {
	--font-sans: 'Host Grotesk', sans-serif;
	background: rgb(11, 11, 12);
}

html,
body {
	min-height: 100%;
	background: rgb(11, 11, 12);
}

@theme {
	--color-primary: rgb(238, 238, 228);
	--color-secondary: rgb(214, 214, 204);
	--color-tertiary: rgb(190, 190, 180);
	--color-faint: rgb(150, 150, 150);

	--color-background: rgb(11, 11, 12);
	--color-background-secondary: rgb(20, 20, 21);
	--color-background-tertiary: rgb(30, 30, 31);

	--color-accent: rgb(59, 130, 246);
}
